/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
  margin: 0;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text{
  color: white;
  background-color: red;
  padding: 10px;
  margin: 0;
}
#outer-box{
  border: 10px;
  border-color: purple;
  border-style: solid;
}
.inner-box{
  padding: 0px;
  margin: 0px;
}
.white-text{
  margin: 0px;
}
